{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Tài liệu API của hệ thống học trực tuyến",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký tài khoản mới",
                "description": "Cho phép người dùng đăng ký tài khoản với tên, email và mật khẩu.",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Nguyễn Hữu Hào"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "student"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email đã tồn tại"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Mật khẩu ít nhất 8 ký tự"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập vào hệ thống",
                "description": "Yêu cầu đăng nhập với email và password",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không chính xác"
                    }
                }
            }
        },
        "/api/lecturer/courses": {
            "get": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Lấy danh sách khóa học của giảng viên",
                "description": "API trả về danh sách các khóa học do giảng viên tạo, có phân trang (8 khóa học mỗi trang).",
                "operationId": "76c0e155085bcf10f01b16bbb3e26214",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách khóa học thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy dữ liệu thành công"
                                        },
                                        "courses": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Lập trình Laravel"
                                                            },
                                                            "category": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Web Development"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-02-16T14:55:30Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/codings": {
            "get": {
                "tags": [
                    "Lessons"
                ],
                "summary": "Lấy danh sách codings của bài học",
                "description": "API này trả về danh sách các codings của một bài học cụ thể thuộc một section và khóa học mà user có quyền truy cập.",
                "operationId": "0d6f08f6e6282fcc5d9e7afe6fecbe4e",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách codings của bài học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "language": {
                                                "type": "string",
                                                "example": "hoc php"
                                            },
                                            "problem_title": {
                                                "type": "string",
                                                "example": "php buoi 1"
                                            },
                                            "starter_code": {
                                                "type": "string",
                                                "example": "dhdhdh"
                                            },
                                            "solution_code": {
                                                "type": "string",
                                                "example": "dhdhdh"
                                            },
                                            "test_cases": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "input": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "integer"
                                                            },
                                                            "example": [
                                                                1,
                                                                2
                                                            ]
                                                        },
                                                        "output": {
                                                            "type": "integer",
                                                            "example": 3
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "lesson_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-02-16T16:44:38.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-02-16T16:44:38.000000Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Lessons"
                ],
                "summary": "Tạo mới coding cho bài học",
                "description": "API này cho phép tạo một coding cho một bài học cụ thể thuộc một section và khóa học mà user có quyền truy cập.",
                "operationId": "6609277efeb955f1977d214116370c68",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "language",
                                    "problem_title",
                                    "starter_code",
                                    "solution_code",
                                    "test_cases"
                                ],
                                "properties": {
                                    "language": {
                                        "type": "string",
                                        "example": "Python"
                                    },
                                    "problem_title": {
                                        "type": "string",
                                        "example": "Tính tổng hai số"
                                    },
                                    "problem_description": {
                                        "type": "string",
                                        "example": "Viết một function nhận vào hai số và trả về tổng của chúng.",
                                        "nullable": true
                                    },
                                    "starter_code": {
                                        "type": "string",
                                        "example": "def sum(a, b):\\n    return 0"
                                    },
                                    "solution_code": {
                                        "type": "string",
                                        "example": "def sum(a, b):\\n    return a + b"
                                    },
                                    "test_cases": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "input": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "example": [
                                                        1,
                                                        2
                                                    ]
                                                },
                                                "output": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bài tập lập trình đã được tạo thành công!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bài tập lập trình đã được tạo thành công!"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "example": "Python"
                                                },
                                                "problem_title": {
                                                    "type": "string",
                                                    "example": "Tính tổng hai số"
                                                },
                                                "problem_description": {
                                                    "type": "string",
                                                    "example": "Viết một function nhận vào hai số và trả về tổng của chúng.",
                                                    "nullable": true
                                                },
                                                "starter_code": {
                                                    "type": "string",
                                                    "example": "def sum(a, b):\\n    return 0"
                                                },
                                                "solution_code": {
                                                    "type": "string",
                                                    "example": "def sum(a, b):\\n    return a + b"
                                                },
                                                "test_cases": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "input": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                },
                                                                "example": [
                                                                    1,
                                                                    2
                                                                ]
                                                            },
                                                            "output": {
                                                                "type": "integer",
                                                                "example": 3
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T16:44:38.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T16:44:38.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "language": [
                                                    "Trường này là bắt buộc."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi khi tạo bài tập lập trình!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi khi tạo bài tập lập trình!"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Lỗi database..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/codings/{coding_id}": {
            "get": {
                "tags": [
                    "Lessons"
                ],
                "summary": "Lấy chi tiết một bài tập lập trình",
                "description": "API này trả về thông tin chi tiết của một coding thuộc một bài học cụ thể.",
                "operationId": "87f6f38da0bd423da0d4f1e0cc38f3ca",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "coding_id",
                        "in": "path",
                        "description": "ID của bài tập lập trình",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chi tiết bài tập lập trình",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "language": {
                                            "type": "string",
                                            "example": "Python"
                                        },
                                        "problem_title": {
                                            "type": "string",
                                            "example": "Tính tổng hai số"
                                        },
                                        "problem_description": {
                                            "type": "string",
                                            "example": "Viết một function nhận vào hai số và trả về tổng của chúng.",
                                            "nullable": true
                                        },
                                        "starter_code": {
                                            "type": "string",
                                            "example": "def sum(a, b):\\n    return 0"
                                        },
                                        "solution_code": {
                                            "type": "string",
                                            "example": "def sum(a, b):\\n    return a + b"
                                        },
                                        "test_cases": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "input": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        },
                                                        "example": [
                                                            1,
                                                            2
                                                        ]
                                                    },
                                                    "output": {
                                                        "type": "integer",
                                                        "example": 3
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "lesson_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-02-16T16:44:38.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-02-16T16:44:38.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Lessons"
                ],
                "summary": "Cập nhật coding của bài học",
                "description": "API này cho phép cập nhật một coding của bài học thuộc một section và khóa học mà user có quyền truy cập.",
                "operationId": "135ffe3699941148514eab00a54e2929",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "coding_id",
                        "in": "path",
                        "description": "ID của coding cần cập nhật",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "language",
                                    "problem_title",
                                    "starter_code",
                                    "solution_code",
                                    "test_cases"
                                ],
                                "properties": {
                                    "language": {
                                        "type": "string",
                                        "example": "Python"
                                    },
                                    "problem_title": {
                                        "type": "string",
                                        "example": "Tính tổng hai số"
                                    },
                                    "problem_description": {
                                        "type": "string",
                                        "example": "Viết một function nhận vào hai số và trả về tổng của chúng.",
                                        "nullable": true
                                    },
                                    "starter_code": {
                                        "type": "string",
                                        "example": "def sum(a, b):\\n    return 0"
                                    },
                                    "solution_code": {
                                        "type": "string",
                                        "example": "def sum(a, b):\\n    return a + b"
                                    },
                                    "test_cases": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "input": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    },
                                                    "example": [
                                                        1,
                                                        2
                                                    ]
                                                },
                                                "output": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bài tập lập trình đã được cập nhật thành công!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Bài tập lập trình đã được cập nhật thành công!"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "example": "Python"
                                                },
                                                "problem_title": {
                                                    "type": "string",
                                                    "example": "Tính tổng hai số"
                                                },
                                                "problem_description": {
                                                    "type": "string",
                                                    "example": "Viết một function nhận vào hai số và trả về tổng của chúng.",
                                                    "nullable": true
                                                },
                                                "starter_code": {
                                                    "type": "string",
                                                    "example": "def sum(a, b):\\n    return 0"
                                                },
                                                "solution_code": {
                                                    "type": "string",
                                                    "example": "def sum(a, b):\\n    return a + b"
                                                },
                                                "test_cases": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "input": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                },
                                                                "example": [
                                                                    1,
                                                                    2
                                                                ]
                                                            },
                                                            "output": {
                                                                "type": "integer",
                                                                "example": 3
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T16:44:38.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T16:44:38.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "language": [
                                                    "Trường này là bắt buộc."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi khi cập nhật bài tập lập trình!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi khi cập nhật bài tập lập trình!"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Lỗi database..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Lessons"
                ],
                "summary": "Xóa coding của bài học",
                "description": "API này cho phép xóa một coding của bài học thuộc một section và khóa học mà user có quyền truy cập.",
                "operationId": "fb81bc80be3169de6bbf95ae895e6fb4",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "coding_id",
                        "in": "path",
                        "description": "ID của coding cần xóa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Bài tập lập trình đã được xóa thành công!"
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi khi xóa bài tập lập trình!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi khi xóa bài tập lập trình!"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Lỗi database..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Lecturer - Courses",
            "description": "Lecturer - Courses"
        },
        {
            "name": "Lessons",
            "description": "Lessons"
        }
    ]
}