{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Tài liệu API của hệ thống học trực tuyến",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký tài khoản mới",
                "description": "Cho phép người dùng đăng ký tài khoản với tên, email và mật khẩu.",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Nguyễn Hữu Hào"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "student"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email đã tồn tại"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Mật khẩu ít nhất 8 ký tự"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập vào hệ thống",
                "description": "Yêu cầu đăng nhập với email và password",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không chính xác"
                    }
                }
            }
        },
        "api/lecturer/courses": {
            "get": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Lấy danh sách khóa học của giảng viên",
                "description": "API trả về danh sách các khóa học do giảng viên tạo, có phân trang (8 khóa học mỗi trang).",
                "operationId": "6142af27ecb8a09db632abe7b6369ed8",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách khóa học thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy dữ liệu thành công"
                                        },
                                        "courses": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Lập trình Laravel"
                                                            },
                                                            "category": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Web Development"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-02-16T14:55:30Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Tạo khoá học mới",
                "operationId": "eb6d6eac0a3bd2e27568df7fab86b121",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "category_id"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Lập trình Laravel"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo khoá học thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "course_id": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ!"
                                        },
                                        "errors": {
                                            "properties": {
                                                "title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Tiêu đề không được để trống."
                                                    }
                                                },
                                                "category_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Danh mục không hợp lệ."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "api/lecturer/courses/{course_id}": {
            "get": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Lấy thông tin chi tiết khoá học",
                "operationId": "4a637be55eb9427e33dd126a66f3733b",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khoá học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin chi tiết khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "category_id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "price_regular": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "price_sale": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "thumbnail": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "video_preview": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "primary_content": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "draft",
                                                        "pending",
                                                        "published"
                                                    ]
                                                },
                                                "is_show_home": {
                                                    "type": "boolean",
                                                    "nullable": true
                                                },
                                                "target_students": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "learning_outcomes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "nullable": true
                                                },
                                                "prerequisites": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "who_is_this_for": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "level": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "admin_commission_rate": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "nullable": true
                                                },
                                                "submited_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                },
                                                "censored_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                },
                                                "admin_comment": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "image": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "parent_id": {
                                                            "type": "integer",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "order": {
                                                                "type": "integer"
                                                            },
                                                            "lessons": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer"
                                                                        },
                                                                        "title": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "type": "string",
                                                                            "nullable": true
                                                                        },
                                                                        "order": {
                                                                            "type": "integer"
                                                                        },
                                                                        "documents": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "document_url": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "file_type": {
                                                                                        "type": "string",
                                                                                        "enum": [
                                                                                            "pdf",
                                                                                            "doc",
                                                                                            "docx"
                                                                                        ]
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "videos": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "video_url": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "duration": {
                                                                                        "type": "integer",
                                                                                        "nullable": true
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "codings": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "language": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "problem_title": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "problem_description": {
                                                                                        "type": "string",
                                                                                        "nullable": true
                                                                                    },
                                                                                    "starter_code": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "solution_code": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "test_cases": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "quizzes": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "integer"
                                                                                    },
                                                                                    "title": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "description": {
                                                                                        "type": "string",
                                                                                        "nullable": true
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy khoá học"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi server nội bộ"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Cập nhật khoá học",
                "operationId": "6ec0ba5f431b2ce4276fb01da0af7e13",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khoá học cần cập nhật",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "title"
                                ],
                                "properties": {
                                    "category_id": {
                                        "description": "ID danh mục khóa học",
                                        "type": "integer"
                                    },
                                    "title": {
                                        "description": "Tiêu đề khóa học",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "description": {
                                        "description": "Mô tả khóa học",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "description": "Giá khóa học",
                                        "type": "integer",
                                        "minimum": 0,
                                        "nullable": true
                                    },
                                    "price_sale": {
                                        "description": "Giá khuyến mãi (phải nhỏ hơn hoặc bằng giá gốc)",
                                        "type": "integer",
                                        "minimum": 0,
                                        "nullable": true
                                    },
                                    "target_students": {
                                        "description": "Đối tượng học viên",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "learning_outcomes": {
                                        "description": "Kết quả học tập (JSON hợp lệ)",
                                        "type": "string",
                                        "format": "json",
                                        "nullable": true
                                    },
                                    "prerequisites": {
                                        "description": "Điều kiện tiên quyết",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "who_is_this_for": {
                                        "description": "Dành cho ai",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "admin_commission_rate": {
                                        "description": "Tỷ lệ hoa hồng của admin",
                                        "type": "number",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "nullable": true
                                    },
                                    "thumbnail": {
                                        "description": "Ảnh đại diện (jpeg, png, jpg, gif)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "video_preview": {
                                        "description": "Video xem trước (mp4, avi, mpeg, quicktime)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "language": {
                                        "description": "Ngôn ngữ",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "level": {
                                        "description": "Trình độ",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "primary_content": {
                                        "description": "Nội dung chính",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật thành công"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "category_id": {
                                                    "type": "integer"
                                                },
                                                "price_regular": {
                                                    "type": "integer"
                                                },
                                                "price_sale": {
                                                    "type": "integer"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "thumbnail": {
                                                    "type": "string"
                                                },
                                                "video_preview": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "primary_content": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "draft",
                                                        "pending",
                                                        "published"
                                                    ]
                                                },
                                                "target_students": {
                                                    "type": "string"
                                                },
                                                "learning_outcomes": {
                                                    "type": "string",
                                                    "format": "json"
                                                },
                                                "prerequisites": {
                                                    "type": "string"
                                                },
                                                "who_is_this_for": {
                                                    "type": "string"
                                                },
                                                "language": {
                                                    "type": "string"
                                                },
                                                "level": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Không thể cập nhật khoá học này vì không phải bản nháp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không thể cập nhật khoá học này vì không phải bản nháp"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy khoá học"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi validation."
                                        },
                                        "errors": {
                                            "properties": {
                                                "category_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Danh mục khóa học là bắt buộc."
                                                    }
                                                },
                                                "title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Tiêu đề khóa học là bắt buộc."
                                                    }
                                                },
                                                "price": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Giá khóa học phải là số nguyên."
                                                    }
                                                },
                                                "price_sale": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Giá khuyến mãi phải nhỏ hơn hoặc bằng giá gốc."
                                                    }
                                                },
                                                "learning_outcomes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Kết quả học tập phải là chuỗi JSON hợp lệ."
                                                    }
                                                },
                                                "thumbnail": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Hình ảnh phải là tệp có định dạng jpeg, png, jpg hoặc gif."
                                                    }
                                                },
                                                "video_preview": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Video phải có định dạng mp4, avi, mpeg, quicktime."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Xoá khoá học",
                "operationId": "bd3cec458eaa8b8d6f8136a9ab5a4d97",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khoá học cần xoá",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Xoá khoá học thành công (Không có nội dung trả về)"
                    },
                    "403": {
                        "description": "Không thể xoá khoá học này vì không phải bản nháp",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không thể xoá khoá học này vì không phải bản nháp"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy khoá học"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/public": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Lấy chi tiết khoá học",
                "description": "API này trả về thông tin chi tiết của một khoá học đã được xuất bản, bao gồm giảng viên, số học viên, số bài học, rating trung bình và nội dung khoá học.",
                "operationId": "f83f5e5730f6343559d2b431bedac5e8",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khoá học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chi tiết khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "course": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Lập trình Web từ A-Z"
                                                        },
                                                        "thumbnail": {
                                                            "type": "string",
                                                            "example": "https://example.com/thumbnail.jpg"
                                                        },
                                                        "video_preview": {
                                                            "type": "string",
                                                            "example": "https://example.com/preview.mp4"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Khoá học lập trình Web toàn diện cho người mới."
                                                        },
                                                        "primary_content": {
                                                            "type": "string",
                                                            "example": "Các kiến thức về HTML, CSS, JS, PHP, Laravel."
                                                        },
                                                        "price_regular": {
                                                            "type": "number",
                                                            "example": 199.99
                                                        },
                                                        "price_sale": {
                                                            "type": "number",
                                                            "example": 99.99
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "published"
                                                        },
                                                        "language": {
                                                            "type": "string",
                                                            "example": "Tiếng Việt"
                                                        },
                                                        "level": {
                                                            "type": "string",
                                                            "example": "Beginner"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-02-16T16:44:38.000000Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-02-16T16:44:38.000000Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lecturer": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Nguyễn Văn A"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "nguyenvana@example.com"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "student_count": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "total_lessons": {
                                                    "type": "integer",
                                                    "example": 35
                                                },
                                                "average_rating": {
                                                    "type": "number",
                                                    "example": 4.7
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy khoá học",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy khoá học"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Chi tiết lỗi từ server"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/documents": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Lấy tất cả document của một bài học",
                "operationId": "cae6af0d17982b4cf4471ae8e19f11fe",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Danh sách Document"
                                        },
                                        "document": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "lesson_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "document_url": {
                                                        "type": "string",
                                                        "example": "documents/LoC65Sly8GUzGZ4sPzo2eVK205TJnarVfIMmjnXB.pdf"
                                                    },
                                                    "file_type": {
                                                        "type": "string",
                                                        "example": "pdf"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-02-16T17:26:06.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2025-02-16T17:26:06.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Tải lên một document mới cho bài học",
                "operationId": "2835d3973a06ecaf1e75ebe66ef76751",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "document_url": {
                                        "description": "File tài liệu (pdf, doc, docx)",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Document tải lên thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Document tải lên thành công"
                                        },
                                        "document": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/Vqt2K5A4Ju3AtyEscPR1m1y075qjtVjNRMRY2tVL.docx"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "docx"
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:54:39.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:54:39.000000Z"
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The document url field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            }
        },
        "/api/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/documents/{document_id}": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Lấy chi tiết một tài liệu cụ thể",
                "operationId": "065a53a34f10a38143bed70ba9255364",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "chi tiết Document"
                                        },
                                        "document": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/LoC65Sly8GUzGZ4sPzo2eVK2o5TJnarVfIMmjnXB.pdf"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "pdf"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            },
            "put": {
                "tags": [
                    "Document"
                ],
                "summary": "Cập nhật một tài liệu cụ thể",
                "operationId": "008fc3ec6f40f86fbd45ce6775ba5cda",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "document_url": {
                                        "description": "File tài liệu (pdf, doc, docx)",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tài liệu đã được cập nhật",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Document đã được cập nhật"
                                        },
                                        "document": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/jVfmRkGGQDO2MAfjZVWCTgKMTPF1R9ClI55FZinc.docx"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "docx"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T18:09:45.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The document url field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Xóa một tài liệu cụ thể",
                "operationId": "72ba277ad00778d0a73f2819ce2364f8",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Tài liệu đã được xóa thành công"
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            }
        },
        "/api/v1/lecturer-register/submit-answers": {
            "post": {
                "tags": [
                    "Lecturer Registration"
                ],
                "summary": "Submit answers for lecturer registration",
                "description": "Gửi câu trả lời đăng ký giảng viên",
                "operationId": "ab1c38b1494dd16ddb60d64146a1cb83",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "Answers submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "answer1": {
                                            "type": "string",
[...]
