{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Tài liệu API của hệ thống học trực tuyến",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký tài khoản mới",
                "description": "Cho phép người dùng đăng ký tài khoản với tên, email và mật khẩu.",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Nguyễn Hữu Hào"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "student"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email đã tồn tại"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Mật khẩu ít nhất 8 ký tự"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập vào hệ thống",
                "description": "Yêu cầu đăng nhập với email và password",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không chính xác"
                    }
                }
            }
        },
        "/api/lecturer/courses": {
            "get": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Lấy danh sách khóa học của giảng viên",
                "description": "API trả về danh sách các khóa học do giảng viên tạo, có phân trang (8 khóa học mỗi trang).",
                "operationId": "76c0e155085bcf10f01b16bbb3e26214",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách khóa học thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy dữ liệu thành công"
                                        },
                                        "courses": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Lập trình Laravel"
                                                            },
                                                            "category": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Web Development"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-02-16T14:55:30Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/documents": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Lấy tất cả document của một bài học",
                "operationId": "cae6af0d17982b4cf4471ae8e19f11fe",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Danh sách Document"
                                        },
                                        "document": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "lesson_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "document_url": {
                                                        "type": "string",
                                                        "example": "documents/LoC65Sly8GUzGZ4sPzo2eVK205TJnarVfIMmjnXB.pdf"
                                                    },
                                                    "file_type": {
                                                        "type": "string",
                                                        "example": "pdf"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2025-02-16T17:26:06.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2025-02-16T17:26:06.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Document"
                ],
                "summary": "Tải lên một document mới cho bài học",
                "operationId": "2835d3973a06ecaf1e75ebe66ef76751",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "document_url": {
                                        "description": "File tài liệu (pdf, doc, docx)",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Document tải lên thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Document tải lên thành công"
                                        },
                                        "document": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/Vqt2K5A4Ju3AtyEscPR1m1y075qjtVjNRMRY2tVL.docx"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "docx"
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:54:39.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:54:39.000000Z"
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The document url field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            }
        },
        "/api/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/documents/{document_id}": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Lấy chi tiết một tài liệu cụ thể",
                "operationId": "065a53a34f10a38143bed70ba9255364",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "chi tiết Document"
                                        },
                                        "document": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/LoC65Sly8GUzGZ4sPzo2eVK2o5TJnarVfIMmjnXB.pdf"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "pdf"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            },
            "put": {
                "tags": [
                    "Document"
                ],
                "summary": "Cập nhật một tài liệu cụ thể",
                "operationId": "008fc3ec6f40f86fbd45ce6775ba5cda",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "document_url": {
                                        "description": "File tài liệu (pdf, doc, docx)",
                                        "type": "file",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tài liệu đã được cập nhật",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Document đã được cập nhật"
                                        },
                                        "document": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "document_url": {
                                                    "type": "string",
                                                    "example": "documents/jVfmRkGGQDO2MAfjZVWCTgKMTPF1R9ClI55FZinc.docx"
                                                },
                                                "file_type": {
                                                    "type": "string",
                                                    "example": "docx"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T17:26:06.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-02-16T18:09:45.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "document_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The document url field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Document"
                ],
                "summary": "Xóa một tài liệu cụ thể",
                "operationId": "72ba277ad00778d0a73f2819ce2364f8",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "description": "ID của tài liệu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Tài liệu đã được xóa thành công"
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên"
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            }
        },
        "/user/create-payment": {
            "post": {
                "tags": [
                    "Thanh toán"
                ],
                "summary": "Tạo yêu cầu thanh toán VNPAY",
                "operationId": "24611da80307761e4aff72e190138cee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "amount": {
                                        "description": "Số tiền thanh toán (ví dụ: 10000 VND)",
                                        "type": "integer",
                                        "example": 10000
                                    },
                                    "bank_code": {
                                        "description": "Mã ngân hàng (ví dụ: NCB, VISA, JCB)",
                                        "type": "string",
                                        "example": "NCB"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tạo yêu cầu thanh toán thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "payment_url": {
                                            "type": "string",
                                            "example": "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html?..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Lỗi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi tạo yêu cầu thanh toán"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi máy chủ"
                    }
                }
            }
        },
        "/user/payment-callback": {
            "get": {
                "tags": [
                    "Thanh toán"
                ],
                "summary": "Xử lý callback từ VNPAY",
                "operationId": "b9329b58ef996649b136b1041b535a52",
                "parameters": [
                    {
                        "name": "vnp_Amount",
                        "in": "query",
                        "description": "Số tiền thanh toán",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "vnp_BankCode",
                        "in": "query",
                        "description": "Mã ngân hàng",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_CardType",
                        "in": "query",
                        "description": "Loại thẻ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_OrderInfo",
                        "in": "query",
                        "description": "Thông tin đơn hàng",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_ResponseCode",
                        "in": "query",
                        "description": "Mã phản hồi từ VNPAY (00 là thành công)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_TmnCode",
                        "in": "query",
                        "description": "Mã merchant ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_TxnRef",
                        "in": "query",
                        "description": "Mã giao dịch",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vnp_SecureHash",
                        "in": "query",
                        "description": "Hash bảo mật",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Callback xử lý thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Thanh toán thành công!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Callback xử lý thất bại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Thanh toán thất bại!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Lecturer - Courses",
            "description": "Lecturer - Courses"
        },
        {
            "name": "Document",
            "description": "Document"
        },
        {
            "name": "Thanh toán",
            "description": "Thanh toán"
        }
    ]
}