{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Tài liệu API của hệ thống học trực tuyến",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng ký tài khoản mới",
                "description": "Cho phép người dùng đăng ký tài khoản với tên, email và mật khẩu.",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Nguyễn Hữu Hào"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "student"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1Q..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email đã tồn tại"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Mật khẩu ít nhất 8 ký tự"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Đăng nhập vào hệ thống",
                "description": "Yêu cầu đăng nhập với email và password",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không chính xác"
                    }
                }
            }
        },
        "/api/lecturer/courses": {
            "get": {
                "tags": [
                    "Lecturer - Courses"
                ],
                "summary": "Lấy danh sách khóa học của giảng viên",
                "description": "API trả về danh sách các khóa học do giảng viên tạo, có phân trang (8 khóa học mỗi trang).",
                "operationId": "76c0e155085bcf10f01b16bbb3e26214",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách khóa học thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy dữ liệu thành công"
                                        },
                                        "courses": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Lập trình Laravel"
                                                            },
                                                            "category": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Web Development"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-02-16T14:55:30Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/lecturer/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/videos": {
            "get": {
                "tags": [
                    "Videos"
                ],
                "summary": "Lấy danh sách video của bài học",
                "description": "API này trả về danh sách video thuộc về bài học cụ thể",
                "operationId": "ac8fd02bf39034af2ddc2615b77eb3fa",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "lesson_id": {
                                                        "type": "integer"
                                                    },
                                                    "video_url": {
                                                        "type": "string",
                                                        "example": "storage/videos/sample.mp4"
                                                    },
                                                    "duration": {
                                                        "type": "integer",
                                                        "example": 120
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-02-16T10:00:00Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-02-16T10:30:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Đã xảy ra lỗi trong quá trình xử lý"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/videos": {
            "post": {
                "tags": [
                    "Videos"
                ],
                "summary": "Thêm video mới vào bài học",
                "description": "Tải lên và lưu trữ video cho một bài học cụ thể",
                "operationId": "storeVideo",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của phần trong khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "video_url"
                                ],
                                "properties": {
                                    "video_url": {
                                        "description": "File video (định dạng mp4, mov, avi)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo mới video thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "video": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "lesson_id": {
                                                    "type": "integer"
                                                },
                                                "video_url": {
                                                    "description": "Đường dẫn video",
                                                    "type": "string"
                                                },
                                                "duration": {
                                                    "description": "Thời lượng video",
                                                    "type": "integer"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tạo mới video thành công"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Không thể lấy thời lượng video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không thể lấy thời lượng video"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ hoặc thời lượng video không đủ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        },
                                        "errors": {
                                            "properties": {
                                                "video_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The video_url field is required."
                                                    }
                                                },
                                                "duration": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Thời lượng video phải lớn hơn 1 phút."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Chi tiết lỗi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/lecturer/courses/{course_id}/sections/{section_id}/lessons/{lesson_id}/videos/{video_id}": {
            "get": {
                "tags": [
                    "Videos"
                ],
                "summary": "Lấy thông tin chi tiết của một video",
                "description": "API này trả về thông tin chi tiết của một video thuộc về bài học cụ thể",
                "operationId": "39df77e52876b9a1fede66d23a55168d",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "video_id",
                        "in": "path",
                        "description": "ID của video",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin chi tiết của video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "video_url": {
                                                    "type": "string",
                                                    "example": "storage/videos/sample.mp4"
                                                },
                                                "duration": {
                                                    "type": "integer",
                                                    "example": 120
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T10:30:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Đã xảy ra lỗi trong quá trình xử lý"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Videos"
                ],
                "summary": "Cập nhật video của bài học",
                "description": "API này cho phép giảng viên cập nhật video cho một bài học",
                "operationId": "656bdd0d6ca8845e2f0781192d8bf8b1",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "video_id",
                        "in": "path",
                        "description": "ID của video cần cập nhật",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dữ liệu video cần cập nhật",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "video_url"
                                ],
                                "properties": {
                                    "video_url": {
                                        "description": "File video (mp4, mov, avi)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật video thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "video": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "lesson_id": {
                                                    "type": "integer"
                                                },
                                                "video_url": {
                                                    "type": "string",
                                                    "example": "storage/videos/new_video.mp4"
                                                },
                                                "duration": {
                                                    "type": "integer",
                                                    "example": 180
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-02-16T12:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cập nhật video thành công"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Không thể lấy thời lượng video",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không thể lấy thời lượng video"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ hoặc thời lượng video không đủ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dữ liệu không hợp lệ"
                                        },
                                        "errors": {
                                            "properties": {
                                                "video_url": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "File không đúng định dạng"
                                                    }
                                                },
                                                "duration": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Thời lượng video phải lớn hơn 1 phút."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Chi tiết lỗi hệ thống"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Videos"
                ],
                "summary": "Xóa video của bài học",
                "description": "API này cho phép giảng viên xóa một video khỏi bài học",
                "operationId": "f79604e4039018a48ce02dd519a63bd0",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID của khóa học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID của section",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lesson_id",
                        "in": "path",
                        "description": "ID của bài học",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "video_id",
                        "in": "path",
                        "description": "ID của video cần xóa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized - Chưa đăng nhập hoặc token không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Xóa video thành công"
                    },
                    "404": {
                        "description": "Không tìm thấy tài nguyên",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Không tìm thấy tài nguyên"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi hệ thống",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Lỗi hệ thống"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Chi tiết lỗi hệ thống"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Lecturer - Courses",
            "description": "Lecturer - Courses"
        },
        {
            "name": "Videos",
            "description": "Videos"
        }
    ]
}